
<%- include("partials/header")%>

<div class="container mt-5">
  <h1 class="mb-4">New Post</h1>
<form method="post" action="/post-data">
    <div class="mb-3">
      <label for="postTitle" class="form-label">Title</label>
      <input name="postTitle" type="text"  class="form-control" id="postTitle" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
      <label for="postBody" class="form-label">Description</label>
      <textarea name="postBody"  class="form-control" id="postBody" required></textarea>
    </div>

    <a href="/" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

<%- include("partials/footer")%>